
*{
    font-family: sans-serif;
}
#wrapper {
    width: 100%;
    height: 800 px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(226, 247, 255);
    color: rgb(50, 191, 242);
}
/**************************************************/
/*CSS for header on ALL pages*/
.logo{
    margin-left: 2%;
}
header {
    float: left;
    width: 100%;
    background-color: rgb(250, 254, 255);
    color: rgb(50, 191, 242);
    
}
/* put nav bar horizontal*/
header *{
    display: inline;
}
 /* Space out navigation tabs*/
header li{
    margin: 12px
    
}

header li a{
    text-decoration: none;
    color: rgb(40, 155, 221);
    
    
}

/*change colour of navbar when hovered over*/
#header .navBar ul li:hover a {
    color:rgb(29, 29, 104);
}

#header .navBar{
    width: 100%;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    background-color: rgb(221, 246, 252);
    color: rgb(50, 191, 242);
    
}
#pageLinks{
    align-items: center;
    margin: 20px;
    color: rgb(50, 191, 242);
}

/**************************************************/
/*CSS for HOME pages*/
#homePage {
    float: left;
    width: 100%;
    height: 725px;
    background: lightblue;
    /*Linear Gradient*/
    background: -moz-linear-gradient(25deg, rgb(50, 191, 242) 0%, rgb(202, 240, 252) 100%);
    background: -webkit-linear-gradient(25deg, rgb(50, 191, 242) 0%, rgb(202, 240, 252) 100%);
    background: -o-linear-gradient(25deg, rgb(50, 191, 242) 0%, rgb(202, 240, 252) 100%);
    background: linear-gradient(-100deg, rgb(50, 191, 242) 0%, rgb(202, 240, 252) 100%);

}

#homeText {
    margin-top: 110px;
    margin-left: 10%;
    background-color: transparent;
    color: rgb(29, 29, 104);
    
}

#homeText h1,h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

.titleText {
    margin-top: 10%;
    margin-left: 2%;
    background-color: transparent;
    color: rgb(29, 29, 104);
}

.box {
    height: 45px;
    width: 50%;
    background-color: rgb(202, 240, 252);
    margin-left: 30%;
    margin-top: 70px;
    text-align: center;
    justify-content: center;
    padding-bottom: 20px;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(202, 240, 252);
    color: rgb(34, 34, 120);

}
#box{
    color: red;
    font-size: 40px;
}


/**************************************************/
/*CSS for CONTACT background*/
#pageBack {
    width: 100%;
    height: 725px;
    background: lightblue;
    /*Angular Gradient*/
    background: -moz-linear-gradient(45deg, rgb(50, 191, 242) 0%, white 100%);
    background: -webkit-linear-gradient(45deg, rgb(50, 191, 242) 0%,  white 100%);
    background: -o-linear-gradient(45deg, rgb(50, 191, 242) 0%,  white 100%);
    background: linear-gradient(45deg, rgb(50, 191, 242) 0%,  white 100%);

}

/**************************************************/
/*CSS for CONTACT pages*/
#formContents{
    margin-left: 2%;
}

#inputBtn{
    align-items: center;
    margin: 5px;
    display: flex;
    list-style: none;
    font-size: 2rem;
    letter-spacing: 0.1rem;

}

#pageBack h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#formContents{
    font-size: 20px;
  }


/**************************************************/
/*CSS for ABOUT pages*/
#rightCol{
    float: right;
    width: 50%;
    height: 725px;
    background: lightblue;
    /*Angular Gradient*/
    background: -moz-linear-gradient(180deg, rgb(50, 191, 242) 0%, rgb(202, 240, 252)100%);
    background: -webkit-linear-gradient(180deg, rgb(50, 191, 242) 0%, rgb(202, 240, 252) 100%);
    background: -o-linear-gradient(180deg, rgb(50, 191, 242) 0%,rgb(202, 240, 252) 100%);
    background: linear-gradient(180deg, rgb(50, 191, 242) 0%, rgb(202, 240, 252) 100%);
}

#leftCol{
    float: left;
    width: 50%;
    height: 725px;
    background: lightblue;
    background: lightblue;
    /*Angular Gradient*/
    background: -moz-linear-gradient(180deg, rgb(50, 191, 242) 0%, rgb(202, 240, 252)100%);
    background: -webkit-linear-gradient(180deg, rgb(50, 191, 242) 0%, rgb(202, 240, 252) 100%);
    background: -o-linear-gradient(180deg, rgb(50, 191, 242) 0%,rgb(202, 240, 252) 100%);
    background: linear-gradient(180deg, rgb(50, 191, 242) 0%, rgb(202, 240, 252) 100%);
}

#leftCol h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    margin-top: 3%;
    margin-left: 25px;
    max-width: 70%;
    max-height: 15%;

}

#aboutTitle {
    margin-top: 20px;
    margin-left: 2%;
    background-color: transparent;
    color: rgb(29, 29, 104);
}

.vidInstruct {
    height: 15%;
    width: 60%;
    background-color: rgb(202, 240, 252);
    margin-left: 35%;
    margin-top: 10%;
    opacity: 1;
    text-align: center;
    justify-content: center;
    padding-bottom: 20px;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(202, 240, 252);

}
#vidInstruct{
    color: rgb(34, 34, 120);
}

#IntroPara{
    font-size: 100%;
    margin-left: 25px;
    margin-top: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    text-justify: inter-word;
    color: rgb(29, 29, 104);
}

/**************************************************/
/*CSS for FOOTER*/
#footer {
    background-color: rgb(34, 34, 120);
    color: rgb(221, 246, 252);
    text-align: center;
  }

  #footer p1 {
    font-family: 'Times New Roman', Times, serif;
  }

 


