#wrapper {
    width: 960 px;
    height: 800 px;
    background-color: rgb(226, 247, 255);
    color: rgb(50, 191, 242);
}
header {
    float: left;
    width: 100%;
    background-color: rgb(250, 254, 255);
    color: rgb(50, 191, 242);
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 254, 255);
    color: rgb(50, 191, 242);
    padding: 10 80px;
}

#left-home {
    float: left;
    width: 50%;
    background-color: rgb(226, 247, 255);
    height: 750px;
}

#right-home {
    float: right;
    width: 50%;
    background-color: rgb(226, 247, 255);
    height: 750px;
}

#homeText {
    margin-top: 130px;
    margin-left: 70px;
    background-color: rgb(226, 247, 255);
    color: rgb(19, 19, 75);
}

img{
    margin-top: 20%;
    margin-left: 7%;
    max-width: 80%;
    max-height: 50%;
}

.box {
    height: 7%;
    width: 80%;
    float: left;
    background-color: rgb(50, 191, 242);
    margin-left: 10%;
    margin-top: 10%;
    opacity: 0.7;
    text-align: center;
    color: black;
}

